{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"tabWidth": 4,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"printWidth": 90,
	"proseWrap": "always",
	"endOfLine": "auto",
	"useTabs": true,
	"trailingComma": "all"
}
